body {
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.popup {
    margin: 170px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;

    display: flex;
    flex-direction: column;
}

hr.solid {
    width: 100%;
    border-top: 3px solid #bbb;
}

.popup-switches {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.switch-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	width: 22.5px;
	height: 22.5px;
	background: #fff;
	border-radius: 22.5px;
	transition: 0.6s;
}

input:checked + label {
	background: #03312e;
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}

.footer {
    padding: 0.5em;
    width: 100%;
}

.footer-buttons {
    align-items: center;
    flex-direction: row;
}

.footer-buttons-wrapper {
    display: flex;
    align-items: stretch;
    flex: 1;
    flex-direction: row;
    gap: 5px;
}

.button-decline-and-selection {
    background-color: transparent;
    border: 2px solid #03312e;
    border-radius: 0.25em;
    color: #141414;
    display: block;
    font-weight: 600;
    padding: 1em;
    text-align: center;
    user-select: none;
    width: 33%;

    cursor: pointer;
}

.button-allow-all {
    background-color: #03312e;
    border: 2px solid #03312e;
    color: #ffffff;
    border-radius: 0.25em;
    display: block;
    font-weight: 600;
    padding: 1em;
    text-align: center;
    user-select: none;
    width: 33%;

    cursor: pointer;
}

